{% extends 'base.html.twig' %}


{% block body %}

{%  for name,contents in responses %}

<h3> {{name}} </h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th> Question </th>
        <th> Réponse </th>
        <th> Date de modification</th>
        <th> Modifiée par</th>
        <th> Scoring  </th>
      </tr>
    </thead>
    <tbody id="myTable">
        {% for resp in contents %}
          {%  if resp.isAnswered == true %}
          <tr>
          <td> {{ resp.question.question }} </td>
          <td> 
          {% if resp.isInappropriated == true %}
                La question est considérée inappropriée
          {% else %}
           {% for answer in resp.answers %}  {{ answer.answer }},  {% endfor %}
          {% endif %}
          </td>
          <td> {{ resp.lastModification }}  </td>
          <td> {{ resp.username }} </td>
          <td> {{ resp.getScoring }} </td>
          </tr>
          {% endif %}

        {% endfor %}
      
    </tbody>
  </table>
<br/><br/><br/>
{% endfor %}
  

{% endblock %}