{% extends 'base.html.twig' %}


{% block body %}
<div class="container" >
<div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-diamond w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3></h3>
        </div>
        <div class="w3-clear"></div>
        <h4> <a href="{{ path('no_create_question') }}">  Ajouter une question  </a> </h4>
      </div>
  </div>
</div>

  <br/><br/>

  <input id="myInput"  placeholder="Recherche.." > <br/><br/>
           
  <table class="table table-striped">
    <thead>
      <tr>
      	<th> Id interne </th>
        <th>Intitulé</th>
        <th> Sous-famille </th>
        <th> Type </th>
        <th> Mettre à jour </th>
      </tr>
    </thead>
    <tbody id="myTable">
    {% for quest in questions %}
      <tr>
        <td> {{ quest.innerId }} </td>
        <td> {{ quest.question }} </td>
        <td> {{ quest.subFamily.name }}</td>
        <td>  {% if quest.type!=null %} {{ quest.type.name }} {% endif %} </td>
        <td> <a href="{{ path('no_update_question',{'id': quest.id }) }}" class="btn btn-default btn-primary" > lien </a> </td>
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
</div>

<script>
$(document).ready(function(){
	$("#myInput").on("keyup", function(){
	var value = $(this).val().toLowerCase();

	$("#myTable tr").each(function(){
	 $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	});
	});
});

</script>

{% endblock %}