{% extends 'base.html.twig' %}

{% block body %}

<h2> {{ response.question.question }} </h2>

{% if response.question.pdfName is not null %}
<a href="{{ asset('/pdfquest/') ~ response.question.pdfName }}" > Lien Document pdf  </a> <br/>
{%  endif %}

{% if response.question.imageName is not null %}
<img src="{{ asset('/imgquest/') ~ response.question.imageName }}" height="100px" width="100px"> <br/>
{%  endif %}

{% if response.question.videoYoutubeLink is not null %}
 <iframe width="560" height="315" src="{{ response.question.videoYoutubeLink }}" frameborder="0" allowfullscreen></iframe>
{%  endif %}

{{ form_start(form, {'method': 'post', 'action': path('no_company_question_answer',{'questionId': response.question.id }) }) }}
                
            {{ form_rest(form) }}
            <button class="btn btn-default" type="submit" >Enregistrer</button>
{{ form_end(form) }}




{% endblock %}