<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block menu %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED")  %}

         <a href="{{ path('fos_user_security_logout') }}"> se déconnecter  </a> <br/><br/>

         {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('no_create_company') }}"><span style="color:#79b6e4;"> Créer une entreprise </span></a> <br/><br/>
            <a href="{{ path('no_all_companies') }}"><span style="color:#79b6e4;"> Créer une utilisateur </span></a> <br/><br/>
            <a href="{{ path('no_all_companies') }}"><span style="color:#79b6e4;"> Gestion des entreprises et comptes </span></a> <br/><br/>
            <a href="{{ path('no_create_question_family') }}"><span style="color:#79b6e4;"> Créer une famille de  questions </span></a> <br/><br/>
            <a href="{{ path('no_create_question_sub_family') }}"><span style="color:#79b6e4;"> Créer une sous-famille de questions </span></a> <br/><br/>
            <a href="#"><span style="color:#79b6e4;"> Créer une question </span></a> <br/><br/>
            <a href="{{ path('no_create_code_naf') }}"><span style="color:#79b6e4;"> Créer un code NAF </span></a> <br/><br/>
            <a href="{{ path('no_create_legal_status') }}"><span style="color:#79b6e4;"> Créer un statut légal </span></a> <br/><br/>
            <a href="{{ path('no_create_activity_branch') }}"><span style="color:#79b6e4;"> Créer une branche d'activité </span></a> <br/><br/>

            <a href="{{ path('no_create_threat_family') }}"><span style="color:#79b6e4;"> Créer une famille de risques </span></a> <br/><br/>
            <a href="{{ path('no_create_threat_sub_family') }}"><span style="color:#79b6e4;"> Créer une sous-famille de risques </span></a> <br/><br/>
            <a href=" {{ path('no_create_event_threat') }} "><span style="color:#79b6e4;"> Créer un évènement </span></a> <br/><br/>

            

            
        {% endif %}

        {% if is_granted('ROLE_COMPANY_OWNER') and not is_granted('ROLE_SUPER_ADMIN') %}
         
        <a href="{{ path('no_company_show_moderators') }}"><span style="color:#79b6e4;"> Comptes moderateurs </span></a> <br/><br/>

        {% endif %}
        {% endif %}

        {% endblock %}


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
