
{% if is_granted("IS_AUTHENTICATED_REMEMBERED")  %}

 <a href="{{ path('fos_user_security_logout') }}"> se déconnecter  </a> <br/><br/>

 {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('no_create_company') }}"><span style="color:#79b6e4;"> Créer une entreprise </span></a> <br/><br/>
    <a href="{{ path('no_all_companies') }}"><span style="color:#79b6e4;"> Créer une utilisateur </span></a> <br/><br/>
    <a href="{{ path('no_all_companies') }}"><span style="color:#79b6e4;"> Gestion des entreprises et comptes </span></a> <br/><br/>
    <a href="#"><span style="color:#79b6e4;"> Créer une famille de  questions </span></a> <br/><br/>
    <a href="#"><span style="color:#79b6e4;"> Créer une sous-famille de questions </span></a> <br/><br/>
    <a href="#"><span style="color:#79b6e4;"> Créer une question </span></a> <br/><br/>

    
{% endif %}

{% if is_granted('ROLE_COMPANY_OWNER') and not is_granted('ROLE_SUPER_ADMIN') %}
 
<a href="{{ path('no_company_show_moderators') }}"><span style="color:#79b6e4;"> Comptes moderateurs </span></a> <br/><br/>

{% endif %}

{% else %}

{% render url('fos_user_security_login') %}

{% endif %}
