{% extends 'base.html.twig' %}


{% block body %}


<div class="container" >
{% trans_default_domain 'FOSUserBundle' %}



{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
	<ul class="form-style-1">
	<li>
		{{ form_label(form.current_password) }}
		{{ form_widget(form.current_password) }}
		{% for errorItem in form.current_password.vars.errors %}
	      <div class="alert alert-danger" >
		  	{{ errorItem.message }}
		  </div>
	    {% endfor %}
	</li>
	<li>
		{{ form_label(form.plainPassword.first) }}
		{{ form_widget(form.plainPassword.first) }}
    
	    {% for errorItem in form.plainPassword.first.vars.errors %}
	      <div class="alert alert-danger" >
		  	{{ errorItem.message }}
		  </div>
	    {% endfor %}

	</li>
	<li>
		{{ form_label(form.plainPassword.second) }}
	    {{ form_widget(form.plainPassword.second) }}
	    
	    {% for errorItem in form.plainPassword.second.vars.errors %}
	      <div class="alert alert-danger" >
		  	{{ errorItem.message }}
		  </div>
	    {% endfor %}

	</li>
	{{ form_rest(form) }}
    <li>
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
    </li>
    </ul><br/>
{{ form_end(form) }}

</div>


{% endblock %}