{% extends 'base.html.twig' %}

{% block body %}


<h2>  Créer une évènement </h2>

{{ form_start(form, {'method': 'post', 'action': path('no_create_event_threat') }) }}
                
            {{ form_rest(form) }}
            <button class="btn btn-default" type="submit" >Enregistrer</button>
{{ form_end(form) }}


<br><br/><br/>
<h3> Liste des évènements </h3>

<ul>
{% for event in events %}
<li> {{ event.definition }}  <a href="{{ path('no_update_event_threat',{ 'id':event.id }) }}"> mettre à jour</a>  </li>

{% endfor %}
</ul>


{% endblock %}