{% extends 'base.html.twig' %}

{% block body %}


<h2>  Créer une sous-famille de risques </h2>

{{ form_start(form, {'method': 'post', 'action': path('no_create_threat_sub_family') }) }}
                
            {{ form_rest(form) }}
            <button class="btn btn-default" type="submit" >Enregistrer</button>
{{ form_end(form) }}


<br><br/><br/>
<h3> Liste de sous-familles </h3>

<ul>
{% for subFam in subFams %}
<li> {{ subFam.name }}  <a href="{{ path('no_update_threat_sub_family',{ 'subFamId':subFam.id }) }}"> mettre à jour</a>  </li>

{% endfor %}
</ul>


{% endblock %}