{% extends 'base.html.twig' %}

{% block body %}


{{ form_start(form, {'method': 'post', 'action': path('no_add_company_access_right',{'companyId':companyId}) }) }}

			{% for name, choices in form.subFams.vars.choices %}
            
                <div class="family checkall">
                     {{ name }}
                </div>
                <ul>
                {% for key,choice in choices.choices %}
                    <li>
                        {{ form_widget(form.subFams[key]) }}
                        {{ form_label(form.subFams[key]) }}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
                
            {{ form_rest(form) }}
            <button class="btn btn-default" type="submit" >Enregistrer</button>
{{ form_end(form) }}


{% endblock %}
