{% extends 'base.html.twig' %}

{% block body %}
<h2> {{ company.denomination }}  </h2>

<ul>
{% for mod in company.moderators %}

<li> {{ mod.username }}
	{% if mod.enabled %}
  	<a href="{{ path('no_admin_disable_company_moderator', {'id': mod.id }) }}" >désactiver </a>
 	{% else %}
  	<a href="{{ path('no_admin_enable_company_moderator', {'id': mod.id }) }}"> activer </a>
 	{% endif %}
    &nbsp &nbsp
 	<a href="{{ path('no_delete_moderator', {'moderatorId': mod.id }) }}"> supprimer </a>   &nbsp &nbsp 
	
	<a href="{{ path('no_add_moderator_access_right', {'moderatorId': mod.id }) }}" >  Ajouter des droits d'accès </a>  &nbsp &nbsp
	(
		{% for access in mod.moderatorAccessRight %}

 		{{  access.questionSubFamily.name }} ,

		{% endfor %}
	)


</li>

{% endfor %}
</ul>

{% endblock %}