{% extends 'base.html.twig' %}

{% block body %}
<h2> {{ company.denomination }}  </h2>


 <br/><br/>
           
  <table class="table table-striped">
    <thead>
      <tr>
      	<th> Modérateur </th>
        <th> Activer/Désactiver </th>
        <th> Ajouter droits d'accès </th>
       
      </tr>
    </thead>
    <tbody id="myTable">
    {% for mod in company.moderators %}
      <tr>
        <td> {{ mod.username }} </td>
        <td>
        {% if mod.enabled %}
	  	<a href="{{ path('no_admin_disable_company_moderator', {'id': mod.id }) }}" class="btn btn-danger">désactiver </a>
	 	{% else %}
	  	<a href="{{ path('no_admin_enable_company_moderator', {'id': mod.id }) }}" class="btn btn-success"> activer </a>
	 	{% endif %}
        </td>
        <td> <a href="{{ path('no_add_moderator_access_right', {'moderatorId': mod.id }) }}" class="btn btn-primary" > Lien </a> 
        </td>
        
      </tr>
    {% endfor %}
      
    </tbody>
  </table>
</div>


{% endblock %}