{% extends 'base.html.twig' %}


{% block body %}
<h2>  Choisir une entreprise: </h2>
{% for company in companies %}

{{ company.denomination }} <br/>
<a href="{{ path('no_add_company_moderator',{'companyId': company.id }) }}"> ajouter utilisateur </a> <br/>
<a href="{{ path('no_disable_company',{'companyId': company.id }) }}"> désactiver les comptes </a> <br/>
<a href="{{ path('no_enable_company',{'companyId': company.id }) }}"> réactiver les comptes </a> <br/>
<a href="{{ path('no_show_company_accounts',{'companyId': company.id }) }}"> voir les comptes </a> <br/>
<a href="#"> Attribuer des questions </a> <br/>



{% endfor %}

{% endblock %}